.content_slidebar_signWeekly {
    height: 350px;
    margin-bottom: 30px;
    background: url('../public/image/FormSignUp1.png') center no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
     width: 100%;
    
     border-radius: 6px;
}

.content_slidebar {
    position: fixed;
    top: 120px;
    padding-left:30px;
    max-width: 380px;
    max-height: 91vh;
    height: auto;
    overflow: auto;
}

@media screen and (max-width: 1399px) {
    .content_slidebar_signWeekly {
        height: 278px;
        margin-bottom: 30px;
    }
}

#app_moodboost {
    position: relative;
    margin: 0 auto;
    padding: 111px 70px 0 70px;
    // max-width: 1440px;
}

.main_posts {
    background-color: #F6FFF6;
}

.openAside {
    left: 0;
    transition: all .1s ease-out;
}


#page {
    padding-top: 20px;
    margin-left: 173px;
    display: flex;
    max-width:100%;
    flex-flow: row wrap;
    height: 100vh;
}

#sidebar {
    width: 35%;
    // padding-top:30px;
    // max-height: 100%;
    // overflow-y: auto;
}

.tags_list {
    margin-top: 0;
    width: 172px;
    height: -webkit-calc(100% - 118px);
    height: calc(100% - 110px);
    position: fixed;
    overflow: hidden;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
}

.feed {
    width: 65%;
}

.feed__title {
    padding-bottom: 30px;
    font-size: 22px;
    font-weight: 500;
    color:#101010;
}



.sign_up_weekly_sidebar {
    height: 350px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1400px) {
    .sign_up_weekly_sidebar {
         height: 300px; 
    }
}

@media screen and (max-width: 1400px) {
    #app_moodboost {
        padding: 111px 30px 0 30px;
    }
}

@media screen and (max-width: 992px) {
    #sidebar {
        display: none;
    }
    .feed {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .tags_list {
        transition: all .1s ease-out;
        left: -700px;
        z-index: 99;
        // width: 280px;
        background: transparent;
        width: 100%;
    }   
    #page {
        margin-left: 0;
    } 
}

@media screen and (max-width: 570px) {
    #app_moodboost {
        padding: 111px 10px 0 10px;
    }
    .main_article {
        background-color: transparent;
    }
}

.openAside {
    left: 0;
    transition: all .1s ease-out;
}
